# Build directories
build/
out/
cmake-build-*/

# CMake generated
CMakeFiles/
compile_commands.json
*CMakeCache.txt
# Clangd cache
*.cache/

# Compiled binaries and libraries
Exercise1/3 - shared variable/c/foo
Exercise1/5 - bounded buffer/c/main
Exercise4/processPair
*.exe
*.out
*.o
*.so
*.a
*.dylib
*.dll
